/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  
  margin: 0;
  color: #444;
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 32px;
  text-decoration: underline;
  margin-top: 60px;
  text-align: center;
}

.div1{
  position: absolute;
  margin: auto;
  top:0px;
  bottom: 0px;
  left:0px;
  right: 0px;
  background-color: #f9f9f9;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  box-shadow:2px 4px 4px 8px #888;
}

.div3{
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
}

input{
  width: 200px;
  border:none;
  height: 25px;
  border-bottom: 2px solid #888 ;
  border-radius: 20px;
text-align: center;
margin: 10px;
margin-left:20px;
}
.in{
  display: inline;
  
}
form{
  text-align: center;
}
.div2{
  margin-top: 80px;
}

button{
  height: 30px;
  width: 100px;
  margin: 20px;
  border-radius: 12px;
  background-color: #ddd;
}
.but{
  margin-left: 150px;
  margin-top: 40px;
}
img{
  position: absolute;
  top:300px;
  right: 0px;
  height: 140px;
  width: auto;
  
}
  /*  animation: mymove 5s infinite; 
}

@keyframes mymove {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}*/